<?xml version="1.0"?>
<robot name="wilber" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="tf_prefix" default="" />

    <xacro:arg name="ns" default="" />
    <xacro:arg name="is_sim" default="true" />
    <xacro:arg name="parent" default="world" />

    <!-- Includes -->
    <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find wilber_description)/urdf/w200.urdf.xacro" />

    <!-- Attachments -->

    <xacro:include
        filename="$(find wilber_description)/urdf/attachments/bulkhead.urdf.xacro" />

    <xacro:bulkhead name="bulkhead" model="$(arg tf_prefix)arm_plate"
        parent_link="$(arg tf_prefix)default_mount"
        tf_prefix="$(arg tf_prefix)">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </xacro:bulkhead>

    <xacro:w200
        tf_prefix="$(arg tf_prefix)"
        is_sim="$(arg is_sim)"
        ns="$(arg ns)"
    />
</robot>
