<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wilbur">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import wilbur urdf file -->
    <xacro:include filename="$(find wilbur_description)/urdf/wilbur.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="wilbur.ros2_control.xacro" />


    <xacro:wilbur_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
