<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Excluding contact checking between adjacent bodies that otherwise prevent movement. -->
  <xacro:macro name="wilbur_mujoco_processed_inputs">
    <processed_inputs>
      <!-- <decompose_mesh mesh_name="finger_v6" threshold="0.05"/> -->
      <modify_element type="body" name="arm_0_shoulder_link" gravcomp="1.0"/>
      <modify_element type="body" name="arm_0_upper_arm_link" gravcomp="1.0"/>
      <modify_element type="body" name="arm_0_forearm_link" gravcomp="1.0"/>
      <modify_element type="body" name="arm_0_wrist_1_link" gravcomp="1.0"/>
      <modify_element type="body" name="arm_0_wrist_2_link" gravcomp="1.0"/>
      <modify_element type="body" name="arm_0_wrist_3_link" gravcomp="1.0"/>
    </processed_inputs>
     
  </xacro:macro>

</robot>