<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="wilbur_mujoco_raw_inputs"
        params="
        tf_prefix:=''
        hand_type:='hande'
        hande_finger_type:='fngr_v6'
        include_ur:='true'
        on_blocks:='false'
    ">

        <xacro:property name="wheel_joint_force_limit" value="10000000" />
        <xacro:property name="wheel_kv" value="60000" />
        <xacro:property name="wheel_ctrl_rng" value="30" />
        <xacro:property name="wheel_gear" value="1" />


        <option
            solver="Newton"
            cone="elliptic"
            noslip_iterations="2"
            integrator="implicitfast"
            timestep="0.002"
            impratio="100"
            tolerance="1e-10">
            <flag multiccd="enable" />
        </option>
        
        <default>
            <default class="wilbur">
                <default class="visual">
                    <geom group="2" type="mesh" contype="0" conaffinity="0" />
                </default>
                <default class="collision">
                    <geom group="3" type="mesh" friction="1.0 0.005 0.0001" />
                </default>
                <!-- this is not used in the code - would like to be able to change the collision properties on the wheel -->
                <!--default class="wheel">
                    <geom type="mesh"
                        condim="6"
                        friction="1.0 0.005 0.00001"
                        solimp=".5 1.0 0.9 0.95 2"
                        solref="0.02 1.0"
                        priority="1" />
                </default-->
           
            </default>
            <default class="size5">
                <joint actuatorfrclimited="true" actuatorfrcrange="-1000 1000" />
                <position ctrlrange="0.0 0.7" kp="75000" dampratio="1.0" forcerange="-1000 1000" />
            </default>
            <default class="size4">
                <joint damping="10" actuatorgravcomp="true" />
                <general forcerange="-330 330" gainprm="100000" biasprm="0 -100000 -10000" />
            </default>
            <default class="size3">
                <joint damping="5" actuatorgravcomp="true" />
                <general forcerange="-${wheel_ctrl_rng} ${wheel_ctrl_rng}" gainprm="100000"
                    biasprm="0 -100000 -5000" />
                <default class="size3_limited">
                    <joint range="-3.14${wheel_ctrl_rng} 3.14${wheel_ctrl_rng}" />
                    <general ctrlrange="-3.14${wheel_ctrl_rng} 3.14${wheel_ctrl_rng}" />
                </default>
            </default>
            <default class="size2">
                <joint damping="2" actuatorgravcomp="true" />
                <general forcerange="-56 56" gainprm="10000" biasprm="0 -10000 -1000" />
            </default>
            <default class="wheel_joint">
                <!--joint armature="0.5" damping="10" /-->
                <!--joint frictionloss="0.05" armature="0.5" damping="10" /-->
            </default>
        </default>

        <!--
        <extension>
            <plugin plugin="mujoco.plugin.lidar">
                <instance name="lidar3d_0">
                    <config key="resolution" value="120 1"/>
                    <config key="azimuth_range" value="-1.55 1.55"/>
                    <config key="elevation_range" value="0.0, 0.3"/>
                    <config key="max_range" value="${wheel_ctrl_rng}.0"/>
                    <config key="min_range" value="0.05"/>
                    <config key="update_rate" value="4.0"/>
                </instance>
            </plugin>
        </extension>
        <sensor>
            <plugin name="lidar3d_0" instance="lidar3d_0" objtype="site" objname="lidar3d_0_laser"/>
        </sensor>
    -->
        <sensor>
            <framequat name="imu_sensor_quat" objtype="site" objname="imu_0_link" />
            <gyro name="imu_sensor_gyro" site="imu_0_link" />
            <accelerometer name="imu_sensor_accel" site="imu_0_link" />
        </sensor>
        
        <actuator>
            <xacro:if value="${include_ur}">
                <general class="size4" name="${tf_prefix}arm_0_shoulder_pan_joint"
                    joint="${tf_prefix}arm_0_shoulder_pan_joint" />
                <general class="size4" name="${tf_prefix}arm_0_shoulder_lift_joint"
                    joint="${tf_prefix}arm_0_shoulder_lift_joint" />
                <general class="size3_limited" name="${tf_prefix}arm_0_elbow_joint"
                    joint="${tf_prefix}arm_0_elbow_joint" />
                <general class="size2" name="${tf_prefix}arm_0_wrist_1_joint"
                    joint="${tf_prefix}arm_0_wrist_1_joint" />
                <general class="size2" name="${tf_prefix}arm_0_wrist_2_joint"
                    joint="${tf_prefix}arm_0_wrist_2_joint" />
                <general class="size2" name="${tf_prefix}arm_0_wrist_3_joint"
                    joint="${tf_prefix}arm_0_wrist_3_joint" />
            </xacro:if>

            <velocity name="rear_right_wheel_joint" joint="rear_right_wheel_joint"
                ctrlrange="${-1 * wheel_ctrl_rng} ${wheel_ctrl_rng}" kv="${wheel_kv}"
                forcelimited="true"
                forcerange="${-1 * wheel_joint_force_limit}  ${wheel_joint_force_limit}" 
                gear="${wheel_gear}"/>
            <velocity name="rear_left_wheel_joint" joint="rear_left_wheel_joint"
                ctrlrange="${-1 * wheel_ctrl_rng} ${wheel_ctrl_rng}" kv="${wheel_kv}"
                forcelimited="true"
                forcerange="${-1 * wheel_joint_force_limit}  ${wheel_joint_force_limit}" 
                gear="${wheel_gear}"/>
            <velocity name="front_right_wheel_joint" joint="front_right_wheel_joint"
                ctrlrange="${-1 * wheel_ctrl_rng} ${wheel_ctrl_rng}" kv="${wheel_kv}"
                forcelimited="true"
                forcerange="${-1 * wheel_joint_force_limit}  ${wheel_joint_force_limit}" 
                gear="${wheel_gear}"/>
            <velocity name="front_left_wheel_joint" joint="front_left_wheel_joint"
                ctrlrange="${-1 * wheel_ctrl_rng} ${wheel_ctrl_rng}" kv="${wheel_kv}"
                forcelimited="true"
                forcerange="${-1 * wheel_joint_force_limit}  ${wheel_joint_force_limit}" 
                gear="${wheel_gear}"/>

        </actuator>

        <contact>
            <exclude body1="base_link" body2="front_left_wheel_link" />
            <exclude body1="base_link" body2="front_right_wheel_link" />
            <exclude body1="base_link" body2="rear_left_wheel_link" />
            <exclude body1="base_link" body2="rear_right_wheel_link" />

        </contact>

        <!-- Welds a free-floating body to a fixed/mocap frame in mid-air -->
        <!-- puts the robot "on blocks"-->
        <xacro:if value="${on_blocks}">
            <equality>
                <weld body1="base_link" body2="world" />
            </equality>
        </xacro:if>

    </xacro:macro>

</robot>