<?xml version="1.0"?>
<robot name="wilbur" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="tf_prefix" default="" />

  <xacro:arg name="ns" default="" />
  <xacro:arg name="abs_mesh_paths" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="use_mock_hardware" default="true" />
  <xacro:arg name="parent" default="world" />
  <xacro:arg name="include_ur" default="true" />
  <xacro:arg name="gripper_com_port" default="/dev/ttyUSB0" />
  <xacro:arg name="wilbur_ur10e_initial_positions"
    default="$(find wilbur_deploy)/config/ur_initial_positions.yaml" />

  <!-- Force absolute mesh paths, necessary for Gazebo. -->
  <xacro:property name="force_abs_paths" value="$(arg abs_mesh_paths)" scope="global" />

  <xacro:include filename="$(find wilbur_description)/urdf/wilbur.xacro" />

  <xacro:wilbur
    tf_prefix="$(arg tf_prefix)"
    ns="$(arg ns)"
    parent="$(arg parent)"
    sim_gazebo="$(arg sim_gazebo)"
    use_mock_hardware="$(arg use_mock_hardware)"
    include_ur="$(arg include_ur)"
    gripper_com_port="$(arg gripper_com_port)"
    wilbur_ur10e_initial_positions="$(arg wilbur_ur10e_initial_positions)"
  />


</robot>