<?xml version="1.0"?>
<robot name="w200" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="true" /> <!-- todo look into calling this
  use_mock_hardware to be forward leaning-->
  <xacro:arg name="generate_ros2_control_tag" default="true" /> <!-- for mujoco cannot have this -->
  <xacro:arg name="wilbur_ur10e_initial_positions"
    default="$(find wilbur_deploy)/config/ur_initial_positions.yaml" />

  <xacro:include filename="$(find wilbur_description)/urdf/wilbur_ur10e_macro.urdf.xacro" />

  <!-- Manipulators -->
  <xacro:property name="initial_positions_file" value="$(arg wilbur_ur10e_initial_positions)" />

  <link name="world" />
  <!-- todo expose out args for hardware-->
  <xacro:wilbur_ur10e
    name="arm_0_"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    use_fake_hardware="$(arg use_fake_hardware)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    generate_ros2_control_tag="$(arg generate_ros2_control_tag)"
  >
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:wilbur_ur10e>

</robot>
