<?xml version="1.0"?>
<robot name="wilbur" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="sim_gazebo" default="true" />

  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="ns" default="" />
  <xacro:arg name="abs_mesh_paths" default="true" />
  <xacro:arg name="parent" default="world" />
  <xacro:arg name="include_ur" default="true" />
  <xacro:arg name="gripper_com_port" default="/dev/ttyUSB0" />
  <xacro:arg name="wilbur_ur10e_initial_positions"
    default="$(find wilbur_deploy)/config/ur_initial_positions.yaml" />

  <!-- Force absolute mesh paths, necessary for Gazebo. -->
  <xacro:property name="initial_positions_file" value="$(arg wilbur_ur10e_initial_positions)" />

  <xacro:include filename="$(find wilbur_description)/urdf/wilbur.xacro" />

  <xacro:property name="force_abs_paths" value="$(arg abs_mesh_paths)" scope="global" />

  <xacro:wilbur
    tf_prefix="$(arg tf_prefix)"
    ns="$(arg ns)"
    parent="$(arg parent)"
    sim_gazebo="true"
    use_mock_hardware="false"
    include_ur="false"
    gripper_com_port="$(arg gripper_com_port)"
    wilbur_ur10e_initial_positions="$(arg wilbur_ur10e_initial_positions)"
  />

  <xacro:include filename="$(find wilbur_gz)/urdf/wilbur_gz.ros2_control.xacro" />
  <xacro:include filename="$(find wilbur_gz)/urdf/wilbur_gz.xacro" />

  <xacro:wilbur_gz_ros2_control
    gazebo_controllers_config_file="$(find wilbur_gz)/config/gazebo_controllers.yaml"
    ns="$(arg ns)"
  />

  <xacro:wilbur_gz />

  <xacro:w200_ros2_control
    name="wilbur"
    tf_prefix="$(arg tf_prefix)"
    include_ur="$(arg include_ur)"
    wilbur_ur10e_initial_positions="${xacro.load_yaml(initial_positions_file)}"
  />


  <!-- Pumbaa's structural components -->
  <xacro:include filename="$(find wilbur_description)/urdf/pumbaa/pumbaa_structure_macro.xacro" />
  <xacro:extrusion_rails />
  <xacro:electronics_box />
  <xacro:mast_structure />

  <xacro:include filename="$(find wilbur_description)/urdf/pumbaa/pumbaa_sensors.xacro" />
  <xacro:pumbaa_sensors />


  <xacro:include filename="$(find wilbur_gz)/urdf/pumbaa/pumbaa_sensors_gz.xacro" />
  <xacro:pumbaa_sensors_gz />

</robot>
